# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
ENV/
.env
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask
instance/*
!instance/.gitkeep

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Backup and temporary files
*.bak
*.old
*.new
*.broken
*.swp
*.swo

# Database
app.db

# Specific to your project structure
/OdontoClin.code-workspace
/instance/app.db
