[MASTER]
disable=
    C0111, # missing docstring
    C0103, # invalid name
    W0621, # redefining name
    R0903, # too few public methods
    R0913, # too many arguments
    R0914, # too many local variables
init-hook='import sys, os; sys.path.insert(0, os.getcwd())'

[FORMAT]
max-line-length=100

[SIMILARITIES]
min-similarity-lines=7
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes

[TYPECHECK]
generated-members=db.session.*,db.Column,db.String,db.Integer,db.Boolean,db.Text,db.Float,db.Date,db.ForeignKey,db.relationship

[MESSAGES CONTROL]
disable=fixme,invalid-name,missing-docstring
