<!-- Arquivo com scripts comuns do odontograma -->
<script src="{{ url_for('static', filename='js/odontograma/constants.js') }}"></script>
<script src="{{ url_for('static', filename='js/odontograma/rect.js') }}"></script>
<script src="{{ url_for('static', filename='js/odontograma/textBox.js') }}"></script>
<script src="{{ url_for('static', filename='js/odontograma/tooth.js') }}"></script>
<script src="{{ url_for('static', filename='js/odontograma/damage.js') }}"></script>
<script src="{{ url_for('static', filename='js/odontograma/menuItem.js') }}"></script>
<script src="{{ url_for('static', filename='js/odontograma/collisionHandler.js') }}"></script>
<script src="{{ url_for('static', filename='js/odontograma/renderer.js') }}"></script>
<script src="{{ url_for('static', filename='js/odontograma/odontogramaGenerator.js') }}"></script>
<script src="{{ url_for('static', filename='js/odontograma/settings.js') }}"></script>
<script src="{{ url_for('static', filename='js/odontograma/engine.js') }}"></script>
